h1
{color: rgb(178, 183, 199);}
.speech 
{font-family: Arial, sans-serif;font-size: medium;color: black;}
.direction 
{font-family: "Courier";font-size: x-small;color: black;}
.direction:hover 
{background-color: rgb(27, 123, 123);color: white;}
.TROFIMOV
{color: rgb(12, 142, 142);}
.PISCHIN
{color: rgb(128, 37, 154);}
.VARYA
{color: blue;}
.cast-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    background-color: rgb(22, 163, 240);
    color: chartreuse;
    text-align: center;
    row-gap: 20px;
    padding:2px;
    margin: 2px;
}
.VARYA:hover{
    text-shadow: 1px 1px 5px red;
  }